@import "../../styles/colors";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: auto;
  background-color: $accent;
}

.inner-container {
  display: flex;
  align-items: center;
  min-width: 750px;
}

.signed {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;

  .route-link {
    padding: 10px;
    border: solid;
    border-width: 3px;
    border-radius: 10px;
    border-color: #fff;
    cursor: pointer;

    .link {
      display: inline-block;
      font-weight: 600;
      font-size: 24px;
      color: #fff;
      text-decoration: none;
    }
  }
}

.not-signed {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}
