@import "../../styles/colors";

$main-color: #fff;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border: solid;
  border-radius: 15px;
  border-width: 3px;
  border-color: $accent;
  background-color: $main-color;
  cursor: pointer;
}

.text {
  font-size: 18px;
  font-weight: 600;
  color: $accent;
}
